.page-header__top {
  display: flex;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 14px;

  @media (max-width: 800px) {
    border-bottom: 1px solid $temp-gray-2;
  }
}

.page-header__logo {
  margin-right: auto;
}

.page-header__link {
  margin-left: 30px;
  font-size: 15px;
  line-height: 16px;

  @media (max-width: 800px) {
    margin-left: 0;
    margin-bottom: 20px;
  }

  &--mail {
    color: $temp-dark-3;
    text-decoration: underline;
  }

  &--phone {
    font-weight: 700;
  }

  &--order-call {
    padding: 12px 14px 11px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    font-weight: 700;
    color: $base-white;
    text-transform: uppercase;
    background-color: $temp-green;
    border-radius: 21px;
    border: 1px solid $temp-green;

    &:hover {
      background-color: $base-white;
    }
  }
}

.page-header__navigation {
  border-top: 1px solid $temp-gray-2;
  box-shadow: 0 4px 6px rgba(43, 43, 43, 0.15);

  @media (max-width: 800px) {
    position: fixed;
    right: -320px;
    top: 0;
    height: 100vh;
    width: 320px;
    border-top: none;
    box-shadow: none;
    background-color: $base-white;

    @include Transition();

    .active & {
      right: 0;
      box-shadow: 0 4px 6px rgba(43, 43, 43, 0.15);
    }
  }
}

.page-header__links {
  position: absolute;
  top: -60px;
  right: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media (max-width: 800px) {
    position: initial;
    flex-direction: column;
    align-items: center;
  }
}

.page-header__main-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 9px;
  margin-right: 13px;
  padding-top: 24px;
  padding-bottom: 24px;

  @media (max-width: 800px) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

.page-header__menu-opener {
  display: none;

  @media (max-width: 800px) {
    display: flex;
    margin-right: 10px;

    .active & {
      opacity: 0;
    }
  }
}

.page-header__menu-closer {
  display: none;

  @media (max-width: 800px) {
    position: absolute;
    top: 12px;
    left: 12px;
    display: flex;
  }
}
