.page-footer {
  padding-top: 60px;
  padding-bottom: 31px;
  border-top: 1px solid $temp-gray-2;

  @media (max-width: 440px) {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}

.page-footer__grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;

  @media (max-width: 440px) {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }
}

.page-footer__item {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;

  @media (max-width: 440px) {
    margin-right: 0;
    margin-left: 0;

    &--catalog {
      order: -1;
    }

    &--clients {
      order: -2;
    }
  }

  &--column {
    display: flex;
    flex-direction: column;

    &:last-child {
      align-items: flex-start;
      justify-content: flex-end;
    }
  }
}

.page-footer__copyright {
  margin-top: auto;
  margin-bottom: 7px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: $temp-dark-4;
}

.page-footer__title {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 13px;
  line-height: 23px;
  color: $temp-gray-5;
  font-weight: 700;
  text-transform: uppercase;
}

.page-footer__author {
  margin-bottom: 8px;
  margin-top: 17px;
  margin-left: auto;
  font-size: 13px;
  line-height: 18px;
  color: $temp-dark-4;
  text-align: right;

  @media (max-width: 440px) {
    margin-left: 0;
    text-align: left;
  }

  & a {
    position: relative;
    color: $temp-cian;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -3px;
      display: block;
      width: 100%;
      height: 2px;
      background-color: $temp-cian;

      @include Transition();
    }

    &:hover {
      &::after {
        opacity: 0;
      }
    }
  }
}
