.search {
  padding: 20px 25px 25px 25px;
  margin-bottom: 57px;
  background-color: $temp-gray-light;
}

.search__form {
  display: flex;

  @media (max-width: 440px) {
    flex-direction: column;
  }
}
