mixin articlesItem(articleThumbnail, articleDate, articleTitle, articleDescription)
  li.article.articles__item
    img(src=`images/${articleThumbnail}`).article__thumbnail
    .article__content
      p.article__date= articleDate
      h3.article__title= articleTitle
      p.article__description= articleDescription
      a(href="#").article__detail-link читать полностью

