* {
  scrollbar-color: $temp-green $base-white;     /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 6px; /* ширина для вертикального скролла */
  height: 6px; /* высота для горизонтального скролла */
  background-color: $base-white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 0;
}
