// Цвета
$base-white: #ffffff;
$base-black: #000000;

$temp-gray: #96969d;
$temp-gray-2: #dfdfe6;
$temp-gray-3: #868686;
$temp-gray-4: #d4d4d4;
$temp-gray-5: #a4a5ab;
$temp-gray-light: #f6f6f6;
$temp-dark: #231f20;
$temp-dark-2: #3f3f4b;
$temp-dark-3: #323232;
$temp-dark-4: #242429;
$temp-green: #51a800;
$temp-blue: #0064d6;
$temp-cian: #2dabb2;
